<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta name="Description" content="Put your description here.">
  <link rel="stylesheet" type="text/css" href="../../demo/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css">
  <script src="https://unpkg.com/prismjs@1.20.0/prism.js"></script>
  <title>generic-components</title>
</head>

<body>
  <generic-skiplink for="main"></generic-skiplink>
  <div class="app">
    <div class="nav">
      <h1 class="title"><a href="/index.html">generic</a></h1>
      <nav>
        <ul>
          <li>
            <a href="/demo/demo-app.html">showcase app</a>
          </li>
          <hr>
            {%- for component in collections.components -%}
              <li>
                <a href="/{{ component.data.title }}/README/index.html">{{ component.data.title }}</a>
              </li>
            {%- endfor -%}
          <hr>
          <li>
            <a href="https://github.com/thepassle/generic-components">Github</a>
          </li>
        </ul>
      </nav>
    </div>
    <main id="main" class="content">
      {{ content | safe }}
    </main>
  </div>
  <script type="module" src="../../generic-skiplink.js"></script>
</body>
</html>