html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*:focus {
  outline: 0px;
  /* border-radius: 4px; */
  box-shadow: 0 0 0 1px blue, 0 0 0px 3px #145dce !important;
  transition: box-shadow 0.1s ease-in-out;
}

.nav *:focus {
  box-shadow: 0 0 0 1px white, 0 0 0px 3px #145dce !important;
}

.nav {
  font-family: 'Roboto Slab';
}

pre code span {
  font-family: monospace;
  font-size: 15px;
  font-style: normal!important;
  font-weight: 400;
}

.language-markup {
  font-size: 15px!important;
  font-style: normal!important;
  font-weight: 400;
}

pre {
  background-color: #303136!important;
}

.app {
  display: flex;
}

.nav {
  height: calc(100vh - 80px);
  padding: 40px;
  background-color: #2137d0;
  color: white;
  flex-shrink: 0;
}

.content {
  overflow: auto;
  max-width: 720px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* width: calc(100% - 100px); */
  padding: 50px;
  padding-top: 40px;
}

.content h1 {
  margin-top: 0;
}

h2 {
  margin-top: 50px;
}

h3 {
  margin-top: 40px;
}

generic-disclosure button {
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 20px;
}

generic-disclosure button:hover,
generic-disclosure button:active,
generic-disclosure button:focus {
  background-color: #f1f5ff;
}

table.tg {
  table-layout: fixed;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #cecece;
  border-style: solid;
  color: #000000;
}

generic-disclosure:not(:defined) {
  display: none;
}

table.tg td, table.tg th {
  border-width: 1px;
  border-color: #cecece;
  border-style: solid;
  padding: 5px;
}

table.tg thead {
  background-color: #f1f5ff;
}

.description {
  font-style: italic;
  border-left: solid 4px #2137d0;
  padding-left: 15px;
  font-size: 18px;
  padding: 10px;
  margin-top: 50px;
  background-color: #f1f5ff;
  border-radius: 5px;
  color: #444444;
}

code {
  font-family: monospace;
}

details {
  margin-bottom: 20px;
}

.nav {
  z-index: 0;
  position: sticky;
  top: 0;
}

.nav a {
  color: white;
}

.nav ul {
  list-style: none;
  padding-left: 0;
}

.nav ul li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.nav ul li:first-child {
  border-bottom: solid 1px white;
  padding-bottom: 30px;
}

.nav ul li:nth-child(2) {
  padding-top: 10px;
}



.nav ul li:last-child {
  border-top: solid 1px white;
  padding-top: 30px;
}

.nav ul li:nth-child(12) {
  padding-bottom: 10px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.demo {
  border-radius: 5px;
  /* border: solid 1px gray; */
  box-shadow: 0px 2px 5px 0px rgba(76,163,255,1);

  background-color: white;
  display: block;
  /* flex-direction: column; */
  /* align-items: center; */
  padding: 20px;
  margin-bottom: 0px;
  margin-top: 60px;
  border-left: solid 4px #2137d0;
}

.demo h3 {
  margin-top: 0;
  color: #2137d0;
}

.demo hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

pre code span {
  font-size: 12px!important;
}

pre code {
  font-size: 12px!important;
}

pre {
  font-size: 12px!important;
}

@media (max-width: 960px) {
  .app {
    flex-direction: column;
  }

  .nav {
    height: 100%;
    position: initial;
  }

  .content {
    height: auto;
    width: calc(100% - 100px);
  }
}

generic-accordion:not(:defined) {
  display: none;
}